.navbar {
    min-height: 60px; 
}

.brandname {
    margin-left: 5px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block; 
}

.dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 8px 0; 
}

.dropdown-header {
    font-weight: bold;
    color: #85411c;
    padding: 8px 20px;
    display: block;
    text-decoration: none;
}

.dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    color: #585858;
    padding: 8px 20px;
}

.dropdown-item:hover {
    background-color: #f8f8f8;
    color: #85411c;
}

.nav-link {
    color: #85411c;
}

.nav-item.nav-link {
    font-size: 24px;
    color: #85411c;
}

.nav-item {
    padding: 0 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        min-height: auto;
    }

    .nav-item {
        padding: 0.5rem 0; 
    }

    .brandname {
        margin-bottom: 0.5rem;
    }

    .navbar-nav {
        width: 100%;
        justify-content: center;
    }

    .nav-link {
        padding: 0.5rem;
    }

    .dropdown-menu {
        position: static; 
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
}

.nav-icon {
    margin-left: 10px;
    cursor: pointer;
}

.nav-icon:hover {
    color: #85411c;
}

.logo-icon {
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    background-color: #85411c;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-right: 15px;
}

.logo-icon:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(188, 179, 179, 0.3);
    background-color: #935c3e;
}

.cart-badge {
    position: absolute;
    top: -10px;
    right: -5px;
    background-color: #85411c;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    min-width: 18px;
    text-align: center;
}
