
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 90px;">
    <div class="container-fluid">
        <a class="navbar-brand fs-3 brandname  " href="#" style="font-family: 'Baskerville Serial', serif; color: #85411c;">Watchly</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse m-3 p-3 fs-5" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Him
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Rolex</a>
                        <a class="dropdown-item" href="#">Casio</a>
                        <a class="dropdown-item" href="#">Tissot</a>
                        <a class="dropdown-item" href="#">Omega</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Her
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Rolex</a>
                        <a class="dropdown-item" href="#">Casio</a>
                        <a class="dropdown-item" href="#">Tissot</a>
                        <a class="dropdown-item" href="#">Omega</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacts</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link nav-icon " href="#"><i class="fas fa-user"></i></a>
            <a class="nav-item nav-link  nav-icon " href="#"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
</nav>
