<app-header></app-header>
<div class="div1">
  <div class="div2">
    <main class="main">
      <!-- Wrapper Section -->
      <section class="section wrapper wrapper-section">
        <div class="container wrapper-column">
        <p-carousel class="larger-carousel" [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000"
            [showIndicators]="true">
            <ng-template pTemplate="item" let-image >
                <div class="wrapper-bgimage">
                    <img [src]="image.src" class="wrapper-image" alt="product">
                </div>
            </ng-template>
        </p-carousel>
          <div class="wrapper-content">
            <div class="wrapper-inform">
              <span class="badge badge-darken">Man's Watches</span>
              <h1 class="display-medium font-bold" style="letter-spacing: 2px; font-weight: 750;">
                Rolex Diamond Edition
              </h1>
              <p class="text-base font-normal">
                Experience timeless elegance with this masterfully crafted timepiece,
                featuring precision engineering and luxurious diamond accents that
                perfectly blend traditional craftsmanship with modern sophistication.
              </p>
            </div>
            <div class="wrapper-detail">
              <div class="price">
                <span class="text-base font-medium">Price:</span>
                <h3 class="text-large font-semi">$1099.00</h3>
              </div>            </div>
            <div class="wrapper-action">
              <button class="btn btn-darken">Add to Cart</button>
              <!-- <button class="btn btn-default" disabled>
                <i class="far fa-heart"></i>
              </button> -->
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>

<app-reviews></app-reviews>
<app-footer></app-footer>