<footer class=" my-5 text-dark"  >
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a class="navbar-brand fs-4" href="#" style="font-family: 'Baskerville Serial', serif; color: #85411c;">Watchly</a>
                <p>+80 123 567 89</p>
                <p>283 N. Glenwood Street, Levittown, NY</p>
                <a href="">helpwatchly.com</a>
            </div>




            <div class=" footer-section  col-md-3">
                <h4>SERVICES</h4>
                <ul class="list-unstyled">
                    <li><a  [routerLink]="['/cart']" >Cart</a></li>
                    <li><a  [routerLink]="['/products']">Shop</a></li>
                    <li><a  [routerLink]="['/about']"  >About Us</a></li>
                    <li><a  [routerLink]="['/contacts']" >Contact Us</a></li>
                    <li><a  [routerLink]="['/about']" >My Account</a></li>
                </ul>
            </div>
            <div class=" footer-section col-md-3">
                <h4>BRANDS</h4>
                <ul class="list-unstyled">
                    <li ><a [routerLink]="['/products']" >Shop</a></li>
                    <li><a  [routerLink]="['/products']" >Casio</a></li>
                    <li><a  [routerLink]="['/products']" >Boss</a></li>
                    <li><a  [routerLink]="['/products']" >Fossil</a></li>
                    <li><a  [routerLink]="['/products']" >Lacoste</a></li>
                </ul>
            </div>
            <div class=" col-md-3">
                <h5>SUBSCRIBE OUR NEWSLETTER</h5>
                <p>Plus, hear about the latest and greatest from our family of brands</p>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email address...">
                    <button class="btn SUBSCRIBE" type="button">SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <div class=" text-center pt-1 border-top">
            <p class="p-3">Copyright © 2022. All Rights Reserved</p>
        </div>
    </div>
</footer>