<app-category></app-category>


<div  class=" mt-5  container text-center ">
    <p  style="font-family: 'Baskerville Serial', serif;"  class="fs-1 fw-medium">Featured products</p>
    <p class="featuredProducts" >
        We are happy to introduce the new Lawson Collection. These are three quartz models <br>
    designed with simplicity and elegance kept in mind  </p>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="image-container">
                <img src="assets/12-300x300.png" class="card-img-top product-img" alt="...">
                <button class="btn add-to-cart-btn">Add to Cart</button>
            </div>
            <div class="img-body">
                <h5 class="card-title">Casio</h5>
                <p class="card-text">Timex Easy Reader White</p>
                <p class="card-price">$250</p>
            </div>
        </div>

        <div class="col">
            <div class="image-container">
                <img src="assets/11-300x300.png" class="card-img-top product-img" alt="...">
                <button class="btn  add-to-cart-btn">Add to Cart</button>
            </div>
            <div class="img-body">
                <h5 class="card-title">Casio</h5>
                <p class="card-text">Timex Easy Reader White</p>
                <p class="card-price">$250</p>
            </div>
        </div>

        <div class="col">
            <div class="image-container">
                <img src="assets/14-300x300.png" class="card-img-top product-img" alt="...">
                <button class="btn add-to-cart-btn">Add to Cart</button>
            </div>
            <div class="img-body">
                <h5 class="card-title">Casio</h5>
                <p class="card-text">Timex Easy Reader White</p>
                <p class="card-price">$250</p>
            </div>
        </div>
    </div>
</div>



  