/* MAIN */
:host #content main {
    width: 100%;
    padding: 36px 24px;
    font-family: var(--poppins);
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}
:host #content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}
:host #content main .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}
:host #content main .head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}
:host #content main .head-title .left .breadcrumb li {
    color: var(--dark);
}
:host #content main .head-title .left .breadcrumb li a {
    color: var(--dark-grey);
    pointer-events: none;
}
:host #content main .head-title .left .breadcrumb li a.active {
    color: var(--darknormal);
    pointer-events: unset;
}
:host #content main .head-title .btn-download {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--darknormal);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
}

:host #content main .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}
:host #content main .box-info li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    width: 90%;
}
:host #content main .box-info li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
:host #content main .box-info li:nth-child(1) .bx {
    background: var(--light-blue);
    color: var(--darknormal);
}
:host #content main .box-info li:nth-child(2) .bx {
    background: var(--light-yellow);
    color: var(--yellow);
}
:host #content main .box-info li:nth-child(3) .bx {
    background: var(--light-blue);
    color: var(--darknormal);
}
:host #content main .box-info li:nth-child(4) .bx {
    background: var(--light-blue);
    color: var(--darknormal);
}
:host #content main .box-info li:nth-child(5) .bx {
    background: var(--light-blue);
    color: var(--darknormal);
}
:host #content main .box-info li .text h3 {
    font-size: 24px;
    font-weight: 600;
    color: var (--dark);
}
:host #content main .box-info li .text p {
    color: var(--dark);	
}

:host #content main .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}
:host #content main .table-data > div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}
:host #content main .table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}
:host #content main .table-data .head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}
:host #content main .table-data .head .bx {
    cursor: pointer;
}

:host #content main .table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
}
:host #content main .table-data .order table {
    width: 100%;
    border-collapse: collapse;
}
:host #content main .table-data .order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}
:host #content main .table-data .order table td {
    padding: 16px 0;
}
:host #content main .table-data .order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}
:host #content main .table-data .order table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
:host #content main .table-data .order table tbody tr:hover {
    background: var(--grey);
}
:host #content main .table-data .order table tr td .status {
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}
:host #content main .table-data .order table tr td .status.completed {
    background: var(--darknormal);
}
:host #content main .table-data .order table tr td .status.process {
    background: var(--yellow);
}
:host #content main .table-data .order table tr td .status.pending {
    background: var(--reddanger);
}

/* :host #content main .table-data .todo {
    flex-grow: 1;
    flex-basis: 300px;
}
:host #content main .table-data .todo .todo-list {
    width: 100%;
}
:host #content main .table-data .todo .todo-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    border-radius: 10px;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
:host #content main .table-data .todo .todo-list li .bx {
    cursor: pointer;
}
:host #content main .table-data .todo .todo-list li.completed {
    border-left: 10px solid var(--darknormal);
}
:host #content main .table-data .todo .todo-list li.not-completed {
    border-left: 10px solid var(--reddanger);
}
:host #content main .table-data .todo .todo-list li:last-child {
    margin-bottom: 0;
} */

@media screen and (max-width: 1024px) {
    :host #content main .box-info li {
        min-width: 80%;
    }
}

@media screen and (max-width: 768px) {
    :host #sidebar {
        width: 200px;
    }

    :host #content {
        width: calc(100% - 60px);
        left: 200px;
    }

    :host #content nav .nav-link {
        display: none;
    }

    :host #content main .box-info li {
        min-width: 75%;
    }

    
}

@media screen and (max-width: 620px) {


    :host #content main .box-info li {
        min-width: 200px;
    }

    :host #content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        border-radius: none;
        color: var(--dark);
    }
    :host #content nav form.show ~ .profile {
        display: none;
    }

    :host #content main .box-info {
        grid-template-columns: 1fr;

    }

    :host #content main .table-data .head {
        min-width: 420px;
    }
    :host #content main .table-data .order table {
        min-width: 420px;
    }
}


@media screen and (max-width: 430px) {
    :host #content main .box-info li{
        width: 80%;
    }

    :host #content main .box-info li .bx{
        transform: scale(1.1);
    }


}

@media screen and (max-width: 380px) {
    :host #content main .box-info li {
        /* width: 80%; */
        margin-left: 0;
        padding-left: 10px;
        /* max-width: 100px; */
        /* min-width: 90%; */
    }

    :host #content main .box-info{
        margin-left: 0;
        padding-left: 0;
        
    }
    :host #content main .box-info li .bx{
        transform: scale(1.0);
    }
}

@media screen and (max-width: 320px) {
    :host #content main .box-info li {
        /* width: 80%; */
        margin-left: 0;
        padding-left: 10px;
        /* max-width: 100px; */
        min-width: 110%;
    }

    :host #content main .box-info{
        margin-left: 0;
        padding-left: 0;
        
    }
}
/* MAIN */