 .carousel {
    height: 80vh;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden; 
}

.carousel-inner {
    height: 100%;
    position: relative;
}

.carousel-item {
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    opacity: 0; 
    transition: all 0.6s ease-in-out;
   
}

.carousel-item.active {
    opacity: 1; 
    z-index: 1;
}

.carousel-item img {
    height: 80vh;
    width: 100%;
    object-fit: cover; 
}


.carousel-indicators {
    bottom: 20px;
}

.carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
}

.carousel-indicators button.active {
    background-color: white;
}

.special-opacity::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.carousel-caption {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Raleway', sans-serif;
    text-align: left;
    z-index: 2;
    width: auto;
}

.carousel-caption1,
.carousel-caption2,
.Explorebtn{
    font-family: 'Baskerville Serial', serif;
}



.carousel-caption1 {
    margin-top: 25px;
    font-size: 85px;
}

.carousel-caption2 {
    margin-top: 70px;
    font-size: 50px;
}

.Explorebtn {
    color: #85411c; 
    background-color: rgb(252, 252, 252); 
    margin-top: 40px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease; 
    padding: 12px; 
    border-radius: 5px;
   
}

.Explorebtn:hover {
    background-color: #85411c; 
    color: white;
}



@media (max-width: 1200px) {
    .carousel-caption {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    .carousel-caption1 {
        font-size: 70px;
    }

    .carousel-caption2 {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .carousel,
    .carousel-item img {
        height: 60vh;
    }

    .carousel-caption {
        left: 20px;
        right: 20px;
        transform: translateY(-50%);
        text-align: left;
    }

    .carousel-caption1 {
        font-size: 50px;
    }

    .carousel-caption2 {
        font-size: 30px;
        margin-top: 20px;
    }
} 








