<div class="modal-overlay" *ngIf="isVisible">
    <div class="modal-content">
        <div class="modal-header">
            <h2>{{ selectedProduct?.name }}</h2>
            <button class="close-btn" (click)="closeModal()">&times;</button>
        </div>
        <div class="modal-body">
            <div class="product-image">
                <img [src]="selectedProduct.imgUrl" alt="{{ selectedProduct?.name }}">
            </div>
            <div class="product-details">
                <div class="price-container">
                    <p class="price">{{ selectedProduct?.price | currency:'EGP ':'symbol':'1.2-2' }} 
                        <span *ngIf="selectedProduct?.originalPrice" class="original-price">
                            {{ selectedProduct?.originalPrice | currency:'EGP ':'symbol':'1.2-2' }}
                        </span>
                        <span *ngIf="selectedProduct?.discount" class="discount">
                            -{{ selectedProduct?.discount }}%
                        </span>
                    </p>
                </div>
                
                <div class="stock-info">
                    <span *ngIf="shallowStock > 5" class="in-stock">● In Stock</span>
                    <span *ngIf="shallowStock <= 5 && shallowStock > 0" class="low-stock">● Low Stock ({{ shallowStock }} left)</span>
                    <span *ngIf="shallowStock === 0" class="out-of-stock">● Out of Stock</span>
                </div>
                
                <p class="description">{{ selectedProduct?.description }}</p>

                <div class="quantity-control">
                    <button [disabled]="this.quantity <= 1" (click)="decreaseQuantity()">−</button>
                    <span>{{ quantity }}</span>
                    <button [disabled]="this.quantity >= shallowStock" (click)="increaseQuantity()">+</button>
                </div>
                
                <button class="add-to-cart-btn" [disabled]="shallowStock === 0" (click)="increase(selectedProduct)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</div>