<div class="modal-overlay" *ngIf="isVisible">
    <div class="modal-content">
        <div class="modal-header">
            <h2>{{ selectedProduct?.name }}</h2>
            <button class="close-btn" (click)="closeModal()">&times;</button>
        </div>
        <div class="modal-body">
            <div class="product-image">
                <img [src]="selectedProduct.imgUrl" alt="Product Image">
            </div>
            <div class="product-details">
                <p class="price">{{ selectedProduct?.price }} le</p>
                <p class="description">{{ selectedProduct?.description }}</p>

                <div class="quantity-control">
                    <button [disabled]="this.quantity <= 1" (click)="decreaseQuantity()">-</button>
                    <span>{{ quantity }}</span>
                    <button [disabled]="this.quantity >= shallowStock" (click)="increaseQuantity()">+</button>
                </div>
                <button class="add-to-cart-btn" (click)="increase(selectedProduct)">Add to Cart</button>
            </div>
        </div>
    </div>
</div>