
<div class="container">
    <!-- <div id="logo">
    </div> -->
    <div class="leftbox">
        <nav>
            <a routerLink="/LandingPage" id="home" routerLink="/LandingPage"><i class="fa-solid fa-house"></i></a>
            <a id="profile" class="active" routerLink = "/Cprofile/details"><i class="fa fa-user"></i></a>
            <a id="orders" routerLink = "/dashboard"><i class="bx bxs-dashboard"></i></a>
            <a id="reset" routerLink = "/SAprofile/resetpassword"><i class="fa-solid fa-shield-halved"></i></a>
            <a id="logout" (click)="openConfirmDialog()"><i class="fa-solid fa-right-from-bracket" style="transform: rotate(180deg);"></i></a>
        </nav>
    </div>
    <router-outlet></router-outlet>
    
</div>