


<div class="springcontainer">

  <div class="springimage">
      <img src="assets/girl1-1.jpg" alt="Spring Winter 2022">
  </div>
  <div class="springtext">
      <p class="spring">Spring Winter 2022</p>
      <p class="text-secondary">Looking for love in all the wrong places? Start with something pure, something good for you, and something that makes you feel pampered like a princess. We’re talking about clean beauty gift sets, of course –
           and we’ve got a bouquet of beauties for yourself or someone you love!</p>
      <button  [routerLink]="['/products']"  class="springbtn">TAKE A LOOK</button>
  </div>
 
</div>
