<div class="rightbox">
    <div class="profile">
        <h1>Reset Password</h1>

        <form #resetPasswordForm="ngForm">
            <h2>Current Password</h2>
            <input type="password" [(ngModel)]="oldPassword" name="oldPassword" id="oldPassword" 
                placeholder="Please Write Current Password" 
                required minlength="8"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                #oldPasswordInput="ngModel"
                [ngClass]="{'valid': oldPasswordInput.valid, 'invalid': oldPasswordInput.invalid && oldPasswordInput.touched}" />

            <h2>New Password</h2>
            <input type="password" [(ngModel)]="newPassword" name="newPassword" id="newPassword" placeholder="Please Write New Password (8+ chars, Upper, Lower, Number, Special)"
                   required minlength="8"
                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                   #newPasswordInput="ngModel"
                   [ngClass]="{'valid': newPasswordInput.valid, 'invalid': newPasswordInput.invalid && newPasswordInput.touched}" />

            <h2>Confirm New Password</h2>
            <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword" placeholder="Please Confirm Password"
                   required minlength="8"
                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                   #confirmPasswordInput="ngModel"
                   [ngClass]="{
                       'valid': confirmPasswordInput.valid && (newPassword === confirmPassword),
                       'invalid': (confirmPasswordInput.invalid && confirmPasswordInput.touched) || (newPassword !== confirmPassword && confirmPasswordInput.touched)
                   }" />
        </form>

        <button class="btnSave" (click)="openConfirmDialog()" [disabled]="resetPasswordForm.invalid || (newPassword !== confirmPassword)">
            <i class="fa fa-check"></i>
        </button>
    </div>
</div>